.blockGrid, .blockGrid2 {
  grid-template-columns: repeat(5, 1fr);
  pointer-events: none;
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-items: center;
}

.blockGrid2 {
  pointer-events: all;
}

@media screen and (max-width: 1288px) {
  .block {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1074px) {
  .block {
    font-size: 2rem;
  }
}

@media screen and (max-width: 859px) {
  .block {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1289px) {
  .block {
    font-size: 3rem;;
  }
}

.block {
  overflow: hidden;
  width: 105%;
  height: 105%;
  object-fit: scale-down;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block1, .block2, .block3 {
  align-self: center;
  justify-self: center;
}

.block11 {
  grid-column: 2;
}

.block13 {
  grid-column: 4;
}

.block1 {
  grid-column: 3;
}

.block2 {
  grid-row: 2;
  grid-column: 2;
}

.block22 {
  grid-row: 2;
  grid-column: 3;
}

.block3 {
  grid-row: 2;
  grid-column: 4;
}

.blockWithVariants, .blockWithVariants2 {
  width: 100%;
  display: flex;
  grid-row: 3;
  grid-column: 1 / span 5;
  justify-content: space-around;
  align-self: end;
  padding-bottom: .5rem;
}

.blockWithVariants {
  .block {
    cursor: pointer;
  }
}

.blockWithVariants2 {
  grid-row: 4;
}